<!DOCTYPE html>
<html>
	<head>
		<title>Lords and Knights-Kampfrechner</title>

		<meta charset="ISO8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	    <script src="lakcalc.js"></script>

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		
		<style>
/* "NIW" = "Number input field width" */
 .niw {
 	width: 85px;
 }
		</style>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl" style="max-width:400px;" class="container">

			<div class="page-header"><h4>Lords and Knights-Kampfrechner</h4></div>
			<div class="row"> 
    			<div class="col-xs-6">Ankunftszeit:</div>
				<div class="col-xs-6"><div uib-timepicker ng-model="snapshot0.uhrzeit" show-meridian="false"></div></div>
			</div>

			<table class="table">
				<tr>
					<th></th>
					<th colspan="{{snapshot0.def.length}}">
						<div style="width:120px">
							Verteidiger
							<span                                           class="btn-group">
								<button type="button" ng-click="defPlus()"  class="btn btn-secondary btn-xs" style="background-color: #eee">+</button>
								<button type="button" ng-click="defMinus()" class="btn btn-secondary btn-xs" style="background-color: #eee">-</button>
							</span>
						</div>
					</th>
					<td>&nbsp;</td>
					<th colspan="{{snapshot0.off.length}}">
						<div style="width:120px">
							Angreifer
							<span                                           class="btn-group">
								<button type="button" ng-click="offPlus()"  class="btn btn-secondary btn-xs" style="background-color: #eee">+</button>
								<button type="button" ng-click="offMinus()" class="btn btn-secondary btn-xs" style="background-color: #eee">-</button>
							</span>
						</div>
					</th>
				</tr>

				<tr style="background-color: #def">
					<td>Speerträger:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].speertraeger" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].speertraeger" /></td>
				</tr>
				<tr style="background-color: #def">
					<td>Schwertkämpfer:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].schwertkaempfer" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].schwertkaempfer" /></td>
				</tr>
				<tr style="background-color: #def">
					<td>Berserker:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].berserker" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].berserker" /></td>
				</tr>
				<tr><td colspan="{{2 + snapshot0.def.length + snapshot0.off.length}}"></td></tr>
				<tr style="background-color: #efd">
					<td>Bogenschütze:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].bogenschuetze" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].bogenschuetze" /></td>
				</tr>
				<tr style="background-color: #efd">
					<td>Armbrustschütze:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].armbrustschuetze" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].armbrustschuetze" /></td>
				</tr>
				<tr style="background-color: #efd">
					<td>Nordischer Bogensschütze:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].nordischerBogenschuetze" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].nordischerBogenschuetze" /></td>
				</tr>
				<tr><td colspan="{{2 + snapshot0.def.length + snapshot0.off.length}}"></td></tr>
				<tr style="background-color: #fed">
					<td>Panzerreiter:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].panzerreiter" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].panzerreiter" /></td>
				</tr>
				<tr style="background-color: #fed">
					<td>Lanzenreiter:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].lanzenreiter" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].lanzenreiter" /></td>
				</tr>
				<tr style="background-color: #fed">
					<td>Axtreiter:</td>
					<td ng-repeat="y in indexes(snapshot0.def)"><input class="form-control niw" type="number" ng-model="snapshot0.def[y].axtreiter" /></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"><input class="form-control niw" type="number" ng-model="snapshot0.off[y].axtreiter" /></td>
				</tr>
				<tr><td colspan="{{2 + snapshot0.def.length + snapshot0.off.length}}"></td></tr>
				<tr>
					<td>Wehranlagen:</td>
					<td ng-repeat="y in indexes(defWehranlagen)"><select class="form-control" ng-model="defWehranlagen[y]"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option></select></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(snapshot0.off)"></td>
				</tr>
				<tr>
					<td>Bibliothek:</td>
					<td ng-repeat="y in indexes(defBibliothek)"><select class="form-control" ng-model="defBibliothek[y]"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></td>
					<td>&nbsp;</td>
					<td ng-repeat="y in indexes(offBibliothek)"><select class="form-control" ng-model="offBibliothek[y]"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></td>
				</tr>
			</table>

			<input type="submit" ng-click="kaempfe()" value="Kämpfe" />			

			<div ng-repeat="x in snapshot">
			
				<hr />

				<h4>Kampf um {{x.uhrzeit.getHours()}}:{{x.uhrzeit.getMinutes()}} <span ng-if="x.nachtmodus">(Nachtmodus)</span></h4>

				<table class="table table-striped">
					<tr><th></th><th>Defensivwerte</th><th>Offensivwerte</th></tr>
					<tr><td>Infanterie</td><td>{{x.defGegenInfanterie}}</td><td>{{x.offGegenInfanterie}}</td></tr>
					<tr><td>Artillerie</td><td>{{x.defGegenArtillerie}}</td><td>{{x.offGegenArtillerie}}</td></tr>
					<tr><td>Kavallerie</td><td>{{x.defGegenKavallerie}}</td><td>{{x.offGegenKavallerie}}</td></tr>
				</table>
				
	
				<table class="table table-striped">
				
					<tr>
						<th></th>
						<th colspan="{{snapshot0.def.length}}">Verteidiger</th>
						<th colspan="{{snapshot0.off.length}}">Angreifer</th>
					</tr>
	
					<tr>
						<td>Speerträger:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].speertraeger}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].speertraeger}}</td>
					</tr>
					<tr>
						<td>Schwertkämpfer:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].schwertkaempfer}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].schwertkaempfer}}</td>
					</tr>
					<tr>
						<td>Berserker:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].berserker}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].berserker}}</td>
					</tr>
					<tr>
						<td>Bogenschütze:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].bogenschuetze}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].bogenschuetze}}</td>
					</tr>
					<tr>
						<td>Armbrustschütze:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].armbrustschuetze}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].armbrustschuetze}}</td>
					</tr>
					<tr>
						<td>Nordischer Bogenschütze:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].nordischerBogenschuetze}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].nordischerBogenschuetze}}</td>
					</tr>
					<tr>
						<td>Panzerreiter:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].panzerreiter}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].panzerreiter}}</td>
					</tr>
					<tr>
						<td>Lanzenreiter:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].lanzenreiter}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].lanzenreiter}}</td>
					</tr>
					<tr>
						<td>Axtreiter:</td>
						<td ng-repeat="j in indexes(x.def)">{{x.def[j].axtreiter}}</td>
						<td ng-repeat="j in indexes(x.off)">{{x.off[j].axtreiter}}</td>
					</tr>
				</table>
			</div>

			<div class="small" style="margin-top: 10px; text-align: center;">
				Want to report bugs, contribute, or just pat someone's back? Visit us on <a href="https://github.com/JannisUnkrig/lakcalc" target="_top">Github</a>.
			</div>
		</div>
	</body>
</html>
